* {
    padding: 0;
    margin: 0;
    font-family: "微軟正黑體";
}

.wrap {
    background-color: #f9f9f9;
    padding-top: 100px;
}

/* header */
header {
    width: 100%;
    height: 50px;
    background-color: #a5a4a4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    z-index: 100;
}

.logo {
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Comic Sans MS";
    position: fixed;
    top: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Comic Sans MS';
}
header .navbar {
    list-style: none;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar li {
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
    transition: all 0.3s;
    /* cursor: pointer>>>游標會變成手的圖示 */
    cursor: pointer;   
    font-weight: 500;
}

/* #hover狀態 */
header .navbar li:hover {
    background: #fff;
    border-radius: 10px;
    font-weight: 700;
    padding: 3px;
}

/* banner */
.bg-image {
    /* The image used */
    background: url("../img/大頭BN.jpg");
    
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

/* introduction */
.introduction {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.introduction .aboutme {
    background-color: #f8b2a3;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.introduction .aboutme h2 {
    font-size: 30px;
}

.introduction .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.about .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    margin-left: 80px;
}

.about .content_special {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    line-height: 1.5;
    margin-right: 80px;
}

.introduction .about .pic {
    width: 50%;
    overflow: hidden;
    padding-bottom: 20px;
}

.introduction .about .pic img {
    max-width: 95%;
    height: 90%;
    transition: all 1s;
    box-shadow: 4px 8px 17px 0px rgb(0 0 0 / 15%);
}

.content h3 {
    font-size: 20px;
}

.content p {
    font-size: 17px;
    line-height: 2;
    color: #6c6c6c;
}

.content_special p {
    font-size: 17px;
    line-height: 2;
    color: #6c6c6c;
}

/* #hover狀態 */
.introduction .about img:hover {
    border-radius: 50%;
    box-shadow: 4px 8px 17px 0px rgb(0 0 0 / 15%);
}

/* education */
.education {
    background-color: #abd2e1;
    margin-bottom: 100px;
    height: 500px;
    padding-top: 100px;
}

.education .edu {
    background-color: #fff;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education .edu h2 {
    font-size: 30px;
}

.education .edu_1 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.education .edu_1 .pic {
    transition: all 0.3s;
}

.education .edu_1 .pic img {
    width: 100%;
    height: 300px;
}

.education .content {
    width: 30%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.education .content ul {
    color: #000000;
    margin-bottom: 10px;
}

/* #hover狀態 */
.education .edu_1 .pic:hover {
    transform: scale(1.2);
}

/* work */
.work {
    margin-bottom: 100px;
    background-color: #f8b2a3;
    background-image: linear-gradient(to right, #f8b2a3 50%, #fff 0%);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.work h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.work_exp {
    background-color: #a4b4ea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 270px;
    margin-top: 20px;
}

.work_exp ul li {
    font-size: 25px;
    color: #fff;
}

/* skill */
.skill {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.skill_1 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 1000px;
    border: 3px solid #abd2e1;
}

.skill_1 h2 {
    font-size: 30px;
    text-align: center;
}

.skill .card_top {
    display: flex;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card_top .card {
    width: 50%;
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
}

.card_top .card .content {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
}

.card_top img {
    width: 150px;
    height: 200px;
}

/* portfolio */
.portfolio {
    margin-bottom: 100px;
    padding-top: 80px;
}

.portfolio .portfolio_1 {
    background-color: #f8b2a3;
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio h2 {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_grup {
    display: flex;
    justify-content: space-around;
}

.card_grup .card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.card_grup .card .btn {
    width: 100px;
    height: 40px;
    background-color: #9ad3e9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: all 0.2s;
}

.card_grup .card .btn a {
    color: #000000;
    text-decoration: none;
    transition: all 0.2s;
}

.card .pic {
    width: 100%;
    height: 250px;
    overflow: hidden;
    /* 如果超過這個容器的部分會做隱藏 */
}

.card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.card h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.card p {
    text-align: center;
}

/* hover狀態 */
.card .pic img:hover {
    transform: scale(1.2);
}

.card_grup .card .btn:hover {
    background-color: #ffff;
    border: 3px solid #abd2e1;
}

.card_grup .card .btn a:hover {
    color: #132b38;
}

/* footer */
footer {
    background-color: #132b38;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .content p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}
